.container-page {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}

/* font*/
h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 140%;
    font-weight: 700;
}

h2 {
    font-size: 100%;
    font-weight: 700;
}

h3 {
    font-size: 120%;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
}

/* header*/
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

main,
#menu {
    display: flex;
}

#nav-hebergements,
#nav-activites {
    text-decoration: none;
    width: auto;
}

#logo {
    align-items: center;
    display: flex;
    margin-left: 4%;
    width: 5%;
}

#logo img {
    width: 100%;
}

nav>div {
    width: 162px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid transparent;
}

/* header hover animation*/
nav>div:hover {
    border-top: solid #0065FC;
}

nav>div a:hover {
    color: #0065FC;
}

/*  texte*/

#before-main {
    margin-left: 4%;
}

#accroche h2 {
    font-size: 16px;
    font-weight: 400;
}

/* recherche */
#recherche-container {
    display: flex;
    margin-top: 1.5%;
}

#recherche-container #map-marker {
    width: 4%;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
    background-color: #F2F2F2;
}

#recherche-container input {
    width: 30%;
    max-width: 340px;
    height: 49px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 2%;
}

#button-search button {
    display: flex;
    height: 49px;
    width: 150%;
    justify-content: center;
    align-items: center;
    background: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
}

#button-search-mobil {
    display: none;
}

/* filter */
#filter {
    display: flex;
    margin-top: 2.5%;
    width: 100%;
    align-items: center;
}

#button-filter {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 4%;
}

#button-filter .button i {
    margin-right: 10px;
    color: #0065FC;
}

.button {
    display: flex;
    width: auto;
    margin-right: 2%;
    padding: 4px 20px;
    border-radius: 25px;
    align-items: center;
    border: 2px solid #D9D9D9;
}

.button p {
    display: flex;
    font-size: 90%;
    font-weight: 700;
}

.button:hover {
    background: #DEEBFF;
    cursor: pointer;
}

#info {
    display: flex;
    justify-content: center;
    width: 3%;
    height: 3%;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 2%;
}

#info i {
    color: #0065FC;
    padding: 50%;
}

#nblogement {
    display: flex;
    margin-top: 2.5%;
    width: 70%;
}

#nblogement h4 {
    height: 19px;
    font-weight: 400;
}

/* main annonce */
main {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    justify-content: center;
}

#hebergements {
    width: 70%;
    max-width: 900px;
    background-color: #F2F2F2;
    margin-top: 3%;
    border-radius: 20px;
}

#titre-hebergement {
    margin-left: 5%;
    margin-bottom: 2%;
    padding-top: 3%;
    font-size: 140%;
    font-weight: 700;
}

#titre-hebergement h1 {
    font-size: 22px;
    font-weight: 700;
}

#annonce-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

/*card */
.lien-card-hebergement {
    min-width: 222px;
    width: 32%;
}

.card-hebergement {
    width: 100%;
    height: 85%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 15%;
}

.card-hebergement>div:first-child {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.card-hebergement img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    max-height: 124px;
    object-fit: cover;
}

.card-text {
    width: 204px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.card-text h3 {
    font-size: 14px;
    font-weight: 400;
}

/* etoile */
.etoile {
    margin-left: 16px;
    height: 24px;
    display: flex;
    align-items: center;
}

.etoile .fa-solid {
    color: #0065FC;
}

.transparent {
    color: grey;
}

/* affichez plus  */
#plus {
    margin-left: 5%;
    text-decoration: none;
    margin-bottom: 6%;
}

#plus h2 {
    font-size: 18px;
    font-weight: 700;
}


/* les plus populaires  */
#les-plus-populaires {
    margin-left: 4%;
    width: 25%;
    height: auto;
    max-height: 650px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 3%;
    max-width: 500px;


}

#les-plus-populaires #titre-populaires {
    display: flex;
    margin-left: 9%;
    margin-right: 9%;
    justify-content: space-between;
    align-items: center;
}

#les-plus-populaires #titre-populaires h1 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10%;
}

#les-plus-populaires #titre-populaires i {
    margin-top: 10%;
    color: #0065FC;
}

#annonce-populaires {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* les plus populaires  card */
.lien-card-populaires {
    min-width: 223px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-populaires {
    width: 85%;
    height: 144px;
    max-height: 144px;
    min-width: 223px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    margin-top: 6%;

}

.card-populaires .text-etoile {
    display: flex;
    flex-direction: column;
    min-width: 111px;
    width: 60%;
    height: 100%;
}

.card-populaires .card-text {
    width: auto;
    height: 200px;
    margin-top: 8%;
    display: flex;
    margin-left: 2px;
}

.card-populaires .card-text h3 {
    font-size: 85%;
    font-weight: 400;
}

/* etoile */
.card-populaires .etoile {
    margin-left: 5px;
    height: 50px;
    width: 20px;
    display: flex;
    align-items: center;

}

.card-populaires.etoile i {
    width: 100%;
    color: #0065FC;
}

/* card-populaire */
.card-populaires>div:first-child {
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    width: 40%;
    min-width: 110px;

}

.card-populaires img {
    border-radius: 20px 0px 0px 20px;
    width: 100%;
    height: 100%;
    min-width: 120px;
    max-height: 140px;
    min-height: 140px;
    object-fit: cover;
}


/* activités */

#activites {
    margin-top: 4%;
    margin-left: 4%;
    width: 95%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    max-width: 1400px;

}

#annonce-activites {
    display: flex;
    align-content: center;
    margin-top: 1%;
}

#titre-activites p {
    font-size: 140%;
    font-weight: 700;
}

/*card activités*/
.lien-card-activites {
    min-width: auto;
    width: 22%;
    margin-right: 3%;
}

.card-activites {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activites .card-texte {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: -0.49px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.card-activites .card-texte h2 {
    padding-left: 8%;
    margin-top: 7%;
}

.card-activites>div:first-child {
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.card-activites img {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*footer*/
footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    width: 92%;
    height: 225px;
    margin-left: 4%;
    margin-right: 4%;
}

.list {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.list h2 {
    margin-left: 15%;
}

ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 12px;


}

ul {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-top: 5%;
    width: auto;
    padding: 0%;
}

@media (min-width:1401px) {
    body {
        display: flex;
        justify-content: center;
    }

}

/*tablette*/
@media (max-width: 991px) {
    .container-page {
        max-width: 991px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #logo {
        width: 8%;
    }

    #filter {
        width: 100%;
    }

    .button p {
        font-size: 80%;
    }

    #button-filter {
        width: 100%;
    }

    #info i {
        color: #0065FC;
        padding: 50%;

    }


    /*herbergement*/
    #hebergements {
        width: 100%;
    }

    /*populaires*/
    #les-plus-populaires #titre-populaires {
        margin-left: 5%;
    }

    #les-plus-populaires #titre-populaires h1 {
        margin-top: 3%;
    }

    #les-plus-populaires #titre-populaires i {
        margin-right: 5%;
        margin-top: 3%;
    }

    #annonce-populaires {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    }

    #les-plus-populaires {
        width: 100%;
        height: 250px;
        max-width: 900px;
        margin-left: 0px;
    }

    .lien-card-populaires {
        width: 32%;
    }

    .card-populaires {
        width: 100%;
        height: 23%;
        max-height: 25%;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
        margin-top: 6%;
        height: 144px;
    }

    .card-populaires .card-text {
        width: auto;
        height: 200px;
        margin-top: 8%;
        display: flex;
        margin-left: 5px;
    }

    .card-populaires .text-etoile {
        min-width: 116px;
    }

    .card-populaires .card-text h3,
    h2 {
        font-size: 90%;
    }

    .card-populaires>div:first-child {
        min-width: 100px;
    }
}

/*mobile*/
@media (max-width: 768px) {
    .container-page {
        display: flex;
        align-items: center;
    }

    /*header*/
    header {
        flex-direction: column;
        align-items: center;
    }

    main {
        width: 100%;
        align-items: center;
    }

    #logo {
        width: 10%;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    #menu {
        width: 100%;
        margin-bottom: 5%;
    }

    nav>div {
        width: 50%;
        height: 50px;
    }

    nav>div:hover {
        border-top: transparent;
        border-bottom: solid #0065FC;
    }

    nav>div a:hover {
        color: #0065FC;
    }

    #before-main {
        margin-left: 0%;
    }

    /*filtre*/
    #accroche {
        width: 80%;
        margin-left: 4%;
    }

    #filter {
        flex-direction: column;
    }

    #filter h3 {
        margin-bottom: 2.5%;
        width: 95%;
    }

    #button-filter {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    #button-filter .button i {
        font-size: 25px;
    }

    .button {
        width: 45%;
        max-width: 250px;
        height: 40px;
        margin-bottom: 2.5%;
        padding: 23px 13px;
    }

    #nblogement {
        justify-content: center;
        width: 100%;
        margin-bottom: 5%;
        align-items: center;
    }

    #nblogement h4 {
        width: 80%;
        font-size: small;
    }

    #info {
        width: 6%;
    }

    #info i {
        font-size: 18px;
        padding: 15px
    }

    #recherche {
        display: flex;
        flex-direction: column;

    }

    #recherche-container {
        justify-content: center;
        width: 100%;
    }

    #recherche-container #map-marker {
        width: 10%;
    }

    #recherche-container input {
        width: 60%;
        padding-left: 5%;
    }

    #button-search {
        display: none
    }

    #button-search-mobil {
        display: flex;
        height: 49px;
        width: 10%;
        justify-content: center;
        align-items: center;
        background: #0065FC;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border: none;
        color: white;
        font-family: 'Raleway', sans-serif;
        cursor: pointer;
    }

    #button-search-mobil button {
        display: flex;
        height: 49px;
        width: 10%;
        justify-content: center;
        align-items: center;
        background: #0065FC;
        border: none;
        color: white;
    }

    #hebergements {
        margin-left: 0%;
        order: 1;
        max-width: 550px;
    }

    #annonce-hebergement {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .lien-card-hebergement {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
    }

    .card-hebergement {
        width: 85%;
        margin-bottom: 5%;
        margin-left: 0%;
    }

    #plus {
        display: none;
    }

    #les-plus-populaires {
        height: auto;
        min-height: 600px;
        margin-top: 3%;
        max-width: 550px;
    }

    #annonce-populaires {
        flex-direction: column;
        height: 100%;
    }

    .lien-card-populaires {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
    }

    .card-populaires {
        width: 85%;
        height: 144px;
        max-height: 144px;
        min-width: 223px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        background: #FFFFFF;
        border-radius: 20px;
        display: flex;
    }

    .card-populaires .text-etoile {
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 145px;

    }

    #activites {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        max-width: 550px;
    }

    #titre-activites {
        margin-left: 5%;
    }

    #annonce-activites {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .lien-card-activites {
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: column;
        align-items: center;
        height: 100%;
        max-width: 400px;
    }

    .card-activites {
        width: 85%;
        height: 85%;
        margin-bottom: 5%;

    }

    .card-activites img {
        max-height: 200px;
    }

    footer {
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: auto;
        padding-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
    }
}