html{
    
    display: flex;
    justify-content: center;
}
/* font*/
h1,h2,h3,p,a{
    font-family:'Raleway', sans-serif;
}
h1{
    font-size: 22px;
    font-weight: 700;
}
h2{
    font-size: 16px;
    font-weight: 700;
}
h3{
    font-size: 18px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-weight: 400;
}
/* header*/
header{
    display:flex;
    
}
a{
    text-decoration: none;
    color: black;
}
main{
    display:flex;
}

#menu{
    display: flex;
    margin-left: 975px;
    
}
#nav-hebergements{
    text-decoration: none;
    
}
#nav-activites{
    text-decoration: none;
    
}
#nav-container-hebergement{
    width: 162px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nav-container-activites{
    width: 162px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#logo{
    margin-top: 44px;
    margin-left: 55px;
    margin-bottom: 63px;
}
#logo img{
    width: 61px;
    height: 19px;
}

/* header hover animation*/

#nav-container-hebergement:hover {
    border-top: solid #0065FC ;
    color: #0065FC;
}
#nav-container-activites:hover {
    border-top: solid #0065FC ;
    color: #0065FC;
    
}


/*  texte*/

#before-main{
    margin-left:55px;
}

#recherche-container{
    display: flex;
    margin-top: 20px;
}
#recherche-container #map-marker{
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-bottom-left-radius: 15px;
    border-top-left-radius:15px;
    background-color:#F2F2F2;

}
#recherche-container img{
    width: 14px;
    height: 18px;

}
#recherche-container input{
    width: 236px;
    height: 49px;
    padding: 0;
    border-width: 1px;
    border: none;
    font-size:18px;
    font-weight: 700;
    padding-left: 16px;
    font-family:'Raleway', sans-serif;

}


#button-search button{
    display: flex;
    height: 49px;
    width: 132px;
    justify-content: center;
    align-items: center;
    background: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
    color:white ;
    font-family:'Raleway', sans-serif;
    cursor: pointer;
}

/* recherche */

#filter{
    display: flex;
    margin-top: 32px;
    width: 914px;
    height: 50px;
    align-items: center;
}
#button-filter{
    margin-left:32px ;
}

#nblogement{
    display:flex;
    margin-top: 38px;
}
#nblogement p {
    height: 19px;
}
#info{
    display: flex;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 11px;
    
}
#info i {
    color: #0065FC;
    padding-top: 2px; 
}


/* filter */

#button-filter{
    display:flex;
    align-items: center;
}
#button-filter .button i {
    margin-right: 10px;
    color: #0065FC;
}

.button{
    display: flex;
    margin-right: 32px;
    padding: 4px 20px;
    border-radius: 25px;
    align-items: center;
    border: 2px solid #D9D9D9;
}

.button:hover{
    background: #DEEBFF;
    cursor: pointer;
}

/* main annonce */

#hebergements{
    margin-left:50px;
    width: 880px;
    height: 626px;
    background-color: #F2F2F2;
    margin-top: 39px;
    border-radius: 20px;
    
}
#titre-hebergement{
    margin-left: 40px;
    margin-bottom: 23px;
    padding-top:42px ;
}

#annonce-hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

/*card */

.card-hebergement{
    width: 246px;
    height: 199px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px;
   
}
.card-hebergement > div:first-child {
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    width: 246px;
    height:124px;
    
}
.card-hebergement img {
    border-radius: 20px 20px 0px 0px;
    width: 246px;
    height: 124px;
    object-fit:cover;
}

.card-text{
    width: 204px;
    height: 39px;
    display: flex;
    flex-direction: column;
    margin-left:16px ;
   
}
.card-text p{
    font-size:14px;
    font-weight:400 ;
}
/* etoile */
.etoile{
    height: 12px;
    width: 100px;
    margin-left:16px;
    margin-top: 9px;
}
.etoile i {
    color: #0065FC;
}
#transparent {
    color: grey;
}
/* img */



/* affichez plus  */
.plus{
    margin-left: 44px;
    
    text-decoration: none;
}
.plus p{
    font-size: 18px;
    font-weight: 700;
}


/* les plus populaires  */
#les-plus-populaires{
    margin-left:50px;
    width: 420px;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 39px;
    
}
#les-plus-populaires #titre-populaires{
    display:flex;
    margin-left: 37px;
    justify-content: space-between;
    align-items: center;
}
#les-plus-populaires #titre-populaires p{
    font-size:22px;
    font-weight: 700;
    margin-top: 41px;
}

#les-plus-populaires #titre-populaires i{
    margin-right:42px;
    margin-top: 46px;
    color: #0065FC;
}

/* les plus populaires  card */

.card-populaires{
    width: 343px;
    height: 144px;
    margin-right: 40px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    margin-left:37px;
    margin-top: 26px;
    margin-bottom:33px;
}
.card-populaires .text-etoile{
    display: flex;
    flex-direction: column;
}

.card-populaires .card-text{
    width: 169px;
    height: 60px;
    margin-top: 16px;
    display: flex;
    margin-left:16px ;
   
}
.ccard-populaires .card-text p{
    font-size:14px;
    font-weight:400 ;
}
/* etoile */
.card-populaires .etoile{
    height: 12px;
    width: 100px;
    margin-left:16px;
    margin-top: 44px;
}
.card-populaires.etoile i {
    width: 12px;
    height: 12px;
    color: #0065FC;
}
/* card-populaire */
.card-populaires > div:first-child {
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
    width: 137px;
    height:144px;
    
}
.card-populaires img {
    border-radius: 20px 0px 0px 20px;
    width: 137px;
    height: 144px;
    object-fit:cover;
}


/* activités */

#activites{
    margin-top: 60px;
    margin-left: 50px;
    width: 1337px;
    height: 493px;
    margin-bottom: 61px;
}

#annonce-activites{
    display: flex;
    margin-top: 18px;
}
#titre-activites p{
    font-size: 22px;
    font-weight: 700;
}

/*card activités*/

.card-activites{
    width: 302px;
    height: 444.51px;
    margin-right: 50px;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activites .card-texte{
    width: 302px;
    height: 56px;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 56px;
    left: 0%;
    right: 0%;
    bottom: -0.49px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
   
}
.card-activites .card-texte H2{
    padding-left:19px;
    margin-top: 20px;
}
.card-activites > div:first-child {
    border: 5px solid #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    width: 302px;
    height:445px;
    
}
.card-activites img {
    border-radius: 20px;
    width: 302px;
    height:445px;
    object-fit:cover;
}

footer{
    display: flex;
    
    background-color: #F2F2F2;
    width: 1339px;
    height: 225px;
    margin-left: 48px;
}
ul li {
    list-style: none;
    font-size: 16px;
    font-weight:400;

}
ul{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 45px;
    margin-right:130px;
}
li{
    margin-bottom: 12px;
}
ul h3{
    padding-bottom: 20px;
}